.info-card {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 50px;
  color: black
}
.info-single-card {
  background-color: cyan;
  width: 450px;
  text-align: center;
}

.info-single-card:nth-child(1) {
  border-radius: 50px 0 0 50px;
  text-align: right;
}

.info-single-card:nth-child(3) {
  border-radius: 0 50px 50px 0;
  text-align: left;
}

.info-single-card-title {
  padding: 100px 41px 10px 41px;
  font-size: 30px;
}

.info-card-single-divider {
  border-top: 1px solid gold;
}

.info-single-card-description {
  padding: 15px 41px 120px 41px;
  font-size: 20px;
}
